---
title: 'Web UI Project | CSC-341'
description: 'Meta description for the page'
preloadImg: 'assets/images/matrix_hero.webp'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-81">
    <div class="cs-container">
        <h1 class="cs-title">CSC-341 Web Project 3</h1>
        <p class="cs-text">
            A Web Project by Mason Kozak & Elizabeth Tchnervina 
        </p>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/matrix_hero.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/matrix_hero.webp">
        <img fetchpriority="high" decoding="async" src="/assets/images/matrix_hero.webp" alt="Matrix" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="h-services-81">
    <ul class="cs-card-group">
        <li class="cs-item">
            <picture class="cs-icon">
                <img loading="lazy" decoding="async" src="/assets/svgs/understand.svg" alt="appliance" width="52" height="52" aria-hidden="true">
            </picture>
            <h2 class="cs-title">Understand What's Collected</h2>
            <p class="cs-text">
                We are collecting your hardware information such as the following: CPU Brand, # of CPU Cores, System Manufacturer, System Model, System OS, and Memory Type
            </p>
        </li>
        <li class="cs-item">
            <picture class="cs-icon">
                <img loading="lazy" decoding="async" src="/assets/svgs/form.svg" alt="appliance" width="52" height="52" aria-hidden="true">
            </picture>
            <h2 class="cs-title">Fill Out Form</h2>
            <p class="cs-text">
                Fill out the form with the requested information. We ask that you be honest with your submission as this helps our data accuracy
            </p>
        </li>
        <li class="cs-item">
            <picture class="cs-icon">
                <img loading="lazy" decoding="async" src="/assets/svgs/click_submit.svg" alt="appliance" width="52" height="52" aria-hidden="true">
            </picture>
            <h2 class="cs-title">Submit</h2>
            <p class="cs-text">
                Click the submit button located at the bottom of the form 
            </p>
        </li>
    </ul>
</section>
                                

<!-- ============================================ -->
<!--                   User Form                  -->
<!-- ============================================ -->

<section id="contact-2061">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Data Submission Form</span>
            <h2 class="cs-title">Add Your Info To Our Cloud Database!</h2>
            <p class="cs-text">This project aims to collect user information and associate it with the hardware you are accessing it with. This information is not sold or marketed and is used for the osle purpose of testing our databasing ability.</p>
        </div>
        <!--Form-->
        <form  class="cs-form" id="cs-form-2061" name="Contact Form" action="http://localhost:3000/submit" method="POST">
            <label class="cs-label cs-split">
                First Name *
                <input class="cs-input" required type="text" id="first-name-2061" name="firstName" maxlength="20">
            </label>
            <label class="cs-label cs-split">
                Last Name *
                <input class="cs-input" required type="text" id="last-name-2061" name="lastName" maxlength="20">
            </label>
            <label class="cs-label cs-split">
                Phone Number *
                <input class="cs-input" required type="text" id="phone-2061" name="phoneNumber" maxlength="20">
            </label>
            <label class="cs-label cs-split">
                City *
                <input class="cs-input" required type="text" id="last-name-2061" name="city" maxlength="50">
            </label>
            <label class="cs-label cs-split">
                State *
                <input class="cs-input" required type="text" id="last-name-2061" name="state" maxlength="2" placeholder="e.g., NY">
            </label>
            <label class="cs-label cs-split">
                Zipcode *
                <input class="cs-input" required type="text" id="last-name-2061" name="zipCode" maxlength="10">
            </label>
            <div class="cs-wrapper">
                <button class="cs-button-solid cs-submit" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <img class="cs-graphic cs-graphic-left" src="/assets/svgs/database.svg" alt="drop" width="528" height="830" aria-hidden="true" decoding="async">
    <img class="cs-graphic cs-graphic-right" src="/assets/svgs/gears.svg" alt="drop" width="528" height="830" aria-hidden="true" decoding="async">
</section>
                                

    

    {% include 'components/cta.html' %}
{% endblock %}